.container {
  background-color: transparent;
  margin: 50px;
}
.text_left {
  text-align: left;
}
.header {
  text-align: center;
}
.ContactContent {
  background-color: yellow;
}
.BlogsComponent {
  border: 1px solid grey;
  border-radius: 6px;
  width: 307px;
}