/*.carouselImg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: contain;
}*/
.carousel_Img {
    position: relative;
    color: black;
    max-width: fit-content;
}
.carousel_content {
    position: absolute;
    top: 200px;
    left: 50px;
}
.header {
    text-align: center;
}
.services {
    margin-top: 100px;
}
.central_div {
    margin: 50px 200px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    bottom: -130px;
    background-color: white;
}
.location_img {
    position: relative;
    margin-bottom: 130px;
}
@media only screen and (max-width: 500px) {
    .central_div {
       overflow-x: scroll;
    }
  }
  